.BoggleGrid {
  position: relative;
  margin: auto;
  width: 60vh;
  height: 60vh;
}

.BoggleTileContainer {
  position: relative;
  display: inline-block;
  width: 15vh;
  height: 15vh;
}

.BoggleTile {
  height: 13.5vh;
  width: 13.5vh;
  position: relative;
  background-color: white;
  color: rgb(100, 100, 100);
  line-height: 14vh;
  font-size: 9vh;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.1s;
  user-select: none;
  box-shadow: 6px 6px 0 #fa6800;
}

.BoggleTile:hover {
  transform: scale(1.1);
  box-shadow: 4px 10px 25px #fa6800;
}

.BoggleTile.selected {
  z-index: 2;
  background-color: #F2C924;
  color: rgb(100, 100, 100);
  box-shadow: none;
}

.BoggleTile.selected.lastSelected {
  background-color: #ffe612;
  color: black;
  transform: scale(1.1);
}

.BoggleTile.selected.keyboard {
  background-color: #52ffe0;
}

.BoggleTile.selected.lastSelected.keyboard {
  background-color: #00ffbb;
}

.BoggleTile.selected-keyboard.lastSelected {
  background-color: #8dfff0;
  color: black;
  transform: scale(1.1);
}

.BoggleTile .Value {
  font-size: 16px;
  line-height: 16px;
  font-weight: 100;
  position: absolute;
  top: 8px;
  right: 8px;
}

/* Hitbox provides a reduced profile to avoid selecting the wrong tiles */
.BoggleTile .Hitbox {
  position: absolute;
  top: 15%;
  left: 15%;
  height: 70%;
  width: 70%;
}
