.CurrentWord, .PreviousWord {
  min-height: 100px;
  font-size: 85px;
  color: white;
  font-weight: bold;
  user-select: none;
  text-shadow: 0 0 0 white;
}

.PreviousWord {
  transition: 0.25s;
}

.PreviousWord.correct {
  /*transform: scale(1.2);*/
  color: #ffc81f;
  text-shadow: 2px 5px 15px #fa6800;
}

.PreviousWord.correct.high-beam {
  color: ;
}

.PreviousWord.incorrect {
  color: #dc4019;
  text-shadow: none;
}

.PreviousWord.duplicate {
  color: #f0811b;
}
